body {
  background-color: #fff;
}

.formula {
  display: inline-block;
  vertical-align: middle;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}

#flip-table-caption {
  cursor: pointer;
}